[ghq]
	root = {{ .chezmoi.homeDir }}/repos
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[diff]
	colorMoved = default
[merge]
	conflictstyle = zdiff3
[user]
	email = {{ .email }}
	name = {{ .name }}
{{ if .signingkey -}}
	signingkey = {{ .signingkey }}
[gpg]
	format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" -}}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{ else -}}
	program = /opt/1Password/op-ssh-sign
{{- end }}
[commit]
	gpgsign = true
{{- end }}
