# shellcheck shell=bash

# User binaries
[ -d "$HOME/.local/bin" ] && export PATH="$HOME/.local/bin:$PATH"

# fzf
export FZF_DEFAULT_OPTS="--height 100% --layout reverse"
command -v rg &>/dev/null && export FZF_DEFAULT_COMMAND="rg --files --no-ignore-vcs --hidden"

# Rust
# shellcheck source=/dev/null
[ -f "$HOME/.cargo/env" ] && . "$HOME/.cargo/env"

# 1Password SSH Agent
{{ if eq .chezmoi.os "darwin" -}}
[ -S "$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" ] && \
  export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ else -}}
[ -S "$HOME/.1password/agent.sock" ] && \
  export SSH_AUTH_SOCK="$HOME/.1password/agent.sock"
{{- end }}
