theme "gruvbox-dark"
show_startup_tips false
copy_on_select true
scrollback_lines 10000
{{ if eq .chezmoi.os "darwin" -}}
copy_command "pbcopy"
{{- else -}}
copy_command "xclip -selection clipboard"
{{- end }}
